source https://api.nuget.org/v3/index.json
redirects: on
storage: none
framework:netcoreapp3.1

nuget FSharp.Formatting
nuget FSharp.Formatting.Literate

//github fsprojects/reveal.js:master

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json
  storage none
  framework:netstandard2.0

  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Api.GitHub
  nuget SourceLink.Fake
  //github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://api.nuget.org/v3/index.json
  storage none
  framework:netcoreapp3.1
  nuget FSharp.Core
  nuget NUnit
  github forki/FsUnit FsUnit.fs
  nuget Microsoft.NET.Test.Sdk
  nuget NUnit3TestAdapter
